<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="connection.driver_class">org.postgresql.Driver</property>
		<property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>
		<property name="connection.username">strufail</property>
		<property name="connection.password">m8m0luk</property>

		<!-- Enable Hibernate's automatic session context management -->
		<property name="current_session_context_class">thread</property>

		<!-- Echo all executed SQL to stdout -->
		<property name="show_sql">false</property>

		<!-- Drop and re-create the database schema on startup -->
		<!--<property name="hbm2ddl.auto">update</property>-->

		<!-- Disable the second-level cache  -->
		<!-- <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property> -->
		<property name="cache.provider_class">com.opensymphony.oscache.hibernate.OSCacheProvider</property>
		<property name="com.opensymphony.oscache.configurationResourceName">oscache-hibernate.properties</property>

		<!-- JDBC connection pool (use the built-in) -->
		<!-- <property name="connection.pool_size">1</property> -->
		<!-- Configuration of connection pool via c3p0-->
		<property name="c3p0.min_size">5</property>
		<property name="c3p0.max_size">20</property>
		<property name="c3p0.timeout">100</property> <!-- seconds -->
		<property name="c3p0.max_statements">50</property>
		<property name="c3p0.idle_test_period">100</property> <!-- seconds -->

		<mapping resource="OWLDBMapping.hbm.xml"/>
	</session-factory>
</hibernate-configuration>
